@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 62.5%;
    background-color: black;
    color: white;
}

/* Navbar section */

.nav {
	width: 100%;
	height: 6.5rem;
	position: fixed;
	line-height: 6.5rem;
	text-align: center;    
}

.nav div.logo {
	float: left;
	width: auto;
	height: auto;
	padding-left: 3rem;
}


.nav div.main_list {
	height: 6.5rem;
	float: right;   
		
}

.nav div.main_list ul {
	width: 100%;
	height: 6.5rem;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav div.main_list ul li {
	width: auto;
	height: 6.5rem;
	padding: 0;
	padding-right: 3rem;
}

.nav div.main_list ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 6.5rem; 
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
}

.nav div.main_list ul li a:hover {
	color: rgba(255, 255, 255, 0.507);
}

/* Home section */

.home {
	width: 100%;
	height: 100vh;
	background-color: black;
	background-position: center top;
	background-size: cover;
}

.navTrigger {
	display: none;
    
}

.nav {
	padding-top: 2rem;
	padding-bottom: 2rem;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.container {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.navTrigger {
		display: block;
        
	}
	.nav div.logo {
		margin-left: 15px;
	}
	.nav div.main_list {
		width: 100%;
		height: 0;
		overflow: hidden;
	}
	.nav div.show_list {
		height: auto;
		display: none;
	}
	.nav div.main_list ul {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: black;
		/*same background color of navbar*/
		background-position: center top;
	}
	.nav div.main_list ul li {
		width: 100%;
		text-align: right;
	}
	.nav div.main_list ul li a {
		text-align: center;
		width: 100%;
		font-size: 3rem;
		padding: 20px;
	}
	.nav div.media_button {
		display: block;
	}
}


.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
}

.navTrigger i {
	background-color: #fff;
	border-radius: 2px;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
}

.navTrigger i:nth-child(1) {
	-webkit-animation: outT 0.8s backwards;
	animation: outT 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
	margin: 5px 0;
	-webkit-animation: outM 0.8s backwards;
	animation: outM 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
	-webkit-animation: outBtm 0.8s backwards;
	animation: outBtm 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
	-webkit-animation: inT 0.8s forwards;
	animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
	-webkit-animation: inM 0.8s forwards;
	animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
	-webkit-animation: inBtm 0.8s forwards;
	animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

.affix {
	padding: 0;
    background-color: black;
}

.myH2 {
	text-align: center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
}
@media all and (max-width: 700px) {
	.myP {
		padding: 2%;
	}
}

/* Home Part */
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-home{
    color: white;
}
.intro-home{    
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;    
    margin-left: 4rem;
}
.name{    
    font-family: 'Bebas Neue', cursive;
    font-size: 16rem;
    margin-left: 4rem;
}
.wrapper{
    margin-left: 4rem;
    display: flex;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 6rem;
    font-weight: 400;
    margin-right: 0rem;
    padding-right: 0rem;
  }
  .wrapper .dynamic-txts{
    margin-left: 0rem;
    height: 9rem;
    line-height: 9rem;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #e4a154;
    font-size: 6rem;
    font-weight: 5rem;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -36rem;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 0.2rem 0;
    line-height: 9rem;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 110%;
    width: 100%;
    background: black;
    border-left: 2px solid #e4a154;
    animation: typing 3s steps(12) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }





/*About*/
.about{
    text-align: center;
}

.text-about{
    font-family: 'Bebas Neue', cursive;
    font-size: 6.4rem;
}

.btn-contact{
    border: 0.2rem solid black;
    background-color: black;
    color: black;
    padding: 1.4rem 2.8rem;
    font-size: 1.6rem;
    cursor: pointer;    
    border-color: #e4a154;
    color: #e4a154;
    font-size: 1.4rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}
.btn-contact:hover {
    background-color: #e4a154;
    color: white;
}


/*Education*/

.text-ed{
    font-family: 'Bebas Neue', cursive;
    font-size: 6.4rem;
    text-align: center;
    line-height: 7.4rem;
    margin-top: 12rem;
}

.study-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10rem;    
    margin-left: 13rem;
    text-align: center;
    margin-bottom: 6rem;
}
  
.study-wrapper h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 1rem;
}

.imgb{
    margin-top: 2rem;
}

.imgc{
    margin-top: 3rem;
}

.t2{
    margin-top: 1.75rem;
}
.t3{
    margin-top: 3rem;
}
.study-ed p{
    font-size: 1.6rem;
    color:rgba(255, 255, 255, 0.514);
}
.date{
    font-size: 1.1rem;
    color:rgba(255, 255, 255, 0.514);
}
.download-cv{
    text-align: center;
    margin: 8rem;
    padding-top: 0rem;
}
.github{
    text-align: center;
    margin: 8rem;
    padding-top: 0rem;
}
.btn-download{
    text-align: center;
    border: 0.rem solid black;
    background-color: black;
    color: black;
    padding: 1.6rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;    
    border-color: #e4a154;
    color: #e4a154;
    font-size: 1.4rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}
.btn-download:hover {
    background-color: #e4a154;
    color: black;
}

.skill-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 8rem;    
    text-align: center;
    margin-bottom: 4rem;
}
  
.skill-wrapper h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

/*Project*/

.project-wrapper{
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10rem;
    margin-right: 10rem;
}

.type-project{
    font-size: 1.1rem;
    color:rgba(255, 255, 255, 0.514);
}

.heading-project{
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    line-height: 54px;
}

.description-project{
    font-size: 1.6rem;
    color:rgba(255, 255, 255, 0.514);
}

.image-project{
    margin-top: 30px;
}

/*Contact*/
.social-media{
    display:flex;
    justify-content: center;
}
.social-media a{
    display: flex;
    background-color: rgb(10, 10, 10);
    width: 75px;
    height: 75px;
    margin: 0 15px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.137),
        4px 4px 6px rgba(0, 0, 0, 0.8)
}

.social-media a i{
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

.social-media a:hover .fa-facebook{
    color: #3b5698
}
.social-media a:hover .fa-linkedin{
    color: #0077b5
}
.social-media a:hover .fa-whatsapp{
    color: #4fce5d
}
.social-media a:hover .fa-instagram{
    color: #c32aa3
}
.social-media a:hover .fa-github{
    color: #f5f5f5
}

.footer{
    background-color: rgb(17, 17, 17);
    padding: 2rem;
}
.foot{
        font-family: 'Roboto';
        font-size: 2rem;
        text-align: center;
}


@media(max-width:998rem){
	html{
		font-size:55%
	}
}


@media(max-width:768px){
	html{
		font-size:45%
	}
	.about{		
		margin-left: 5rem;
	}
	.education{		
		margin-left: 4rem;
	}
	.skills{
		margin-left: 5rem;
	}
	.download-cv{
		margin-left: 15rem;
	}
	.contact{
		margin-left: 5rem;
	}
	.footer{
		margin-left: 5rem;
	}
	.home{
		flex-direction: column;
	}
	.image-home{
		width: 45%
	}
	.about{
		margin-top: 20rem;
	}
	.logo img{
		width: 60px;
	}
	
	/* Home Part */

	.text-home{
		color: white;
		margin-top: 30px;
	}
	.intro-home{    
		font-size: 2rem;
		font-family: 'Poppins', sans-serif;    
		margin-left: 2rem;
	}
	.name{    
		font-family: 'Bebas Neue', cursive;
		font-size: 8rem;
		margin-left: 2rem;
		text-align: center;
	}
	.wrapper{
		margin-left: 1rem;
		display: flex;
		justify-content: center;
	}
	.wrapper .static-txt{
		color: #fff;
		font-size: 3rem;
		font-weight: 400;
		margin-right: 0rem;
		padding-right: 0rem;
	}
	.wrapper .dynamic-txts{
		margin-left: 0rem;
		height: 4.5rem;
		line-height: 4.5rem;
		overflow: hidden;
	}
	.dynamic-txts li{
		list-style: none;
		color: #e4a154;
		font-size: 3rem;
		font-weight: 2.5rem;
		position: relative;
		top: 0;
		animation: slide 12s steps(4) infinite;
	}
	@keyframes slide {
		100%{
		top: -18rem;
		}
	}
	.dynamic-txts li span{
		position: relative;
		margin: 0.1rem 0;
		line-height: 4.5rem;
	}
	.dynamic-txts li span::after{
		content: "";
		position: absolute;
		left: 0;
		height: 110%;
		width: 100%;
		background: black;
		border-left: 2px solid #e4a154;
		animation: typing 3s steps(12) infinite;
	}
	@keyframes typing {
		40%, 60%{
		left: calc(100% + 30px);
		}
		100%{
		left: 0;
		}
	}
	.imga{
		width: 80px;
	}
	.imgb{
		width: 78px;
	}	
	.imgc{
		width:48px;
	}
	.study-ed{
		margin:20px;
	}	



	/*Skills*/
	.skills img{
		width: 35px;
	}
	.skill-wrapper{
		margin-left: 65px;
		justify-content: space-evenly;
	}

	/*Projects*/
	.project-wrapper{
		flex-direction: column;
	}
	.project-wrapper img{
		width: 350px;
		padding-right: 80px;
		
	}
	.text-project{
		margin-left: 2.5rem;
		text-align: center;
	}
	.github{
		margin-left: 11rem;
	}
}
